@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400..700&display=swap");

*
{
  margin: 0;
  padding: 0;
}

ul
{
  list-style: none;
}

main
{
  background: #f4f5f7;
}

nav ul
{
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: #c4c4c4;
  color: #000;
  position: sticky;
  padding: 15px 0;
}

nav ul li a
{
  color: #000;
  list-style: none;
}

.logo
{
  display: flex;
  justify-content: flex-end;
}

.menu
{
  display: flex;
  justify-content: center;
  gap: 20px;
}

nav .menu li a
{
  text-decoration: none;
}

.title
{
  text-align: center;
  margin: 0 auto;
  font-family: "Open-Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.title h1
{
  padding-top: 20px;
  font-family: "Open-Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.category ul
{
  display: flex;
  justify-content: center;
  gap: 80px;
  margin: 10px auto;
}

.banner
{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 40px auto;
}

.description h1,
.detail p
{
  text-align: center;
}

.detail
{
  display: flex;
  width: 350px;
  margin: 40px auto;
}

.btn
{
  margin: 0 auto 30px;
  display: flex;
  justify-content: center;
}

.btn :hover
{
  cursor: pointer;
}

.btnOrder
{
  width: 180px;
  height: 50px;
  background: #f4f5f7;
}

.row
{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  margin: 40px auto;
}

.boxCard
{
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.card
{
  width: 20rem;
  overflow: hidden;
  margin: 20px;
}

.card-title
{
  color: #848484;
}

.card-img-top
{
  width: 100%;
  height: auto;
  display: block;
}

.card-body
{
  padding: 10px 20px;
}

.card-title
{
  font-size: 12px;
  margin-bottom: 0.3rem;
  color: #848484;
  margin-left: 20px;
}

.card-text
{
  font-size: 1rem;
  color: #000;
  margin-bottom: 1rem;
  margin-left: 20px;
}

.lightYear
{
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.upcomingYear
{
  display: block;
  margin-top: 90%;
  align-items: center;
}

.upcomingYear h1,
.upcomingYear p
{
  text-align: start;
  margin: 10px auto;
  padding: 0 80px;
}

.btnShop
{
  width: 180px;
  height: 50px;
  background: #f4f5f7;
  margin: 20px 80px;
}

.btnShop:hover
{
  cursor: pointer;
}

.banner2
{
  display: flex;
  justify-content: center;
  position: relative;
  padding-bottom: 30px;
}

.banner2 figcaption
{
  position: absolute;
  bottom: 100px;
  right: 150px;
}

.banner2 h3
{
  letter-spacing: 10px;
  color: white;
  margin-bottom: 30px;
}

.banner2 button
{
  width: 200px;
  height: 50px;
}

.banner2 button
{
  cursor: pointer;
}

.arrivalHim
{
  padding-top: 50px;
}

.footerWrap
{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 20px;
  margin: 20px auto;
}

.info
{
  margin-left: 90px;
}

.info ul li a,
.legal ul li a
{
  text-decoration: none;
  color: #000;
}

.info ul li,
.legal ul li
{
  margin: 20px 0;
}

.social ul
{
  display: flex;
  gap: 20px;
  margin-top: 20px;
}